@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Montserrat:wght@800&family=Poppins:wght@700&family=Rubik:wght@400;500;600;700&display=swap');

body{
    width: 100%;
}

.container{
    max-width: none !important;
    /* display: flex;
    flex-direction: column; */
    font-family: 'Kanit', Sans-serif;
    font-weight: bold;
    margin-top: 300px;
    justify-content: center;
    margin-right: 50px !important;
    background-color: white;
}


.box1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.box2 {
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 350px;
    margin-right: 50px;
}

.box2 img {
    width: 250px;
}

.box3 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.box3 img {
    width: 250px;
}

.box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.titlebox4{
    font-size: 35px;
}

.allSosmed{
    display: flex;
    margin: 35px;
    /* background-color: red; */
    width: 550px;
    justify-content: space-around;
    align-items: center;
}

.sosmed1 a img{
    width: 150px;
}

.sosmed2 a img{
    width: 110px;
}

.sosmed3 a img{
    width: 90px;
}

.pic img{
    width: auto;
    height: 500px;
}


.text h1{
    font-size: 45px;
    color: white;
    background-color: red;
    padding: 10px 35px;
    text-align: center;
    letter-spacing: 5px;
}

.text h4 {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;
    text-align: center;
    margin-top: 5px;
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.4);
}

.text2 h1{
    width: 350px;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    text-align: justify;
    margin-top: 10px;
}

.text2 h4{
    width: 350px;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    text-align: justify;
    margin-top: 10px;
}

.text h4 {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;
    text-align: center;
    margin-top: 5px;
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.4);
}


