.catalog-wrap {
  margin-top: 100px;
  display: flex;
  /* background-color: red; */
  margin-left: 135px;
  margin-right: 100px;
  margin-bottom: 50px;
}


.side-category-wrap {
  flex: 2;
  margin-top: 90px;
}

.img-gallery-wrap {
  flex: 8;
}



.big-screen-category {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-right: 20px;
  padding-left: 30px;
}

.big-screen-category a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin: 10px 0;
  transition: color 0.3s;

}


.one_category{
  margin-bottom: 10px;
}

.big-screen-category a:hover {
  color: #3498db;
}

.big-screen-category h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.toggle-category {
  display: none;
}

.content {
  margin-left: 20px;
  margin-bottom: 10px;
}

.image-gallery{
  margin-bottom: 50px;
}

.image{
  height: 300px;
}

.title{
  /* background-color: red; */
  margin-bottom: 0;
  margin-right: 5px;
}

.title-tag{
  display: flex;
  align-items: center;
}

.tag{
  font-size: 11px;
  border-radius: 50px;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0px;
}

.pagination-list{
  justify-content: center;
}



@media (max-width: 767px) {
  .big-screen-category {
    display: none;
  }

  .toggle-category {
    display: inline-block;
  }

  .catalog-wrap {
    margin-top: 100px;
    display: grid;
  }
}
