* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300&display=swap');


/* a:hover {
.links li a:hover {
    border-bottom: 3px solid #D71313;
    transition: 200ms ease-in-out;
} */

/* 
    HEADER 
*/

/*
    #0C0C0C
    #D71313
    #696969
    #EEEDED
    #FFFFFF
*/

.nav-header {
    position: fixed;
    font-family: 'kanit', sans-serif;
    width: 100%;
    position: relative;
    padding: 0 2rem;
    z-index: 1000;
}

.navbar {
    color: white;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 250ms ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active {
    background-color: #FFFFFF;
    color: #0C0C0C;
    transition: 0.4s ease-in-out;
}

.navbar.active li a {
    color: #0C0C0C;
}

.navbar .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #D71313;
    padding: 0 10px;
}

.navbar.active .logo a {
    color: #FFFFFF;
    background-color: #0C0C0C;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
}

.links li a:hover {
    border-bottom: 3px solid #D71313;
    transition: 200ms ease-in-out;
}

.navbar .toggle-btn {
    position: fixed;
    right: 20px;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar.active .toggle-btn {
    position: fixed;
    right: 20px;
    color: #0C0C0C;
    font-size: 1.5rem;
    cursor: pointer;
}

.action-btn {
    background-color: red;
    color: #FFFFFF;
    padding: 0.2rem 1.4rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.logout-button {
    --c: #D71313; /* the color */
  
    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
      var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + 0.5%);
    transition: background-size 0.4s, background-position 0s 0.4s;
  }
  
  .logout-button:hover {
    --_p: 100%;
    color: #0C0C0C;
    transition: background-position 0.4s, background-size 0s;
    background-color: red;

  }
  
  .logout-button {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.1em 0.6em;
    font-weight: bold;
    border: none;
    border-radius: 0;
  }

/*
    DROPDOWN MENU
*/
.dropdown-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: transform 0.6s ease; 
    transform: translateX(100%); 
    z-index: 1000;
  }
  
  .dropdown-menu.open {
    transform: translateX(0); /* Slide in from the right when 'open' class is added */
  }

  .dropdown-menu .logo a {
    font-size: 2.5rem;
    padding: 8px 10px;
    margin: 5px auto;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#D71313;
    text-align: center;
    display: block; 
    width: max-content; 
}


.dropdown-menu .logo a:hover {
    border-bottom: 3px solid #D71313;
    transition: 200ms ease-in-out;
}

.dropdown-menu li {
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a:hover {
    border-bottom: 3px solid #D71313;
    transition: 200ms ease-in-out;
}

.dropdown-menu .action-btn {
    width: 20%;
    padding: 8px 108px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.dropdown-menu .toggle-btn {
    position: fixed;
    right: 20px;
    top: 40px; 
    color: #0C0C0C;
    font-size: 1.5rem;
    cursor: pointer;
    transform: translateY(-50%); 
}
  

/*
    MEDIA QUERY
*/

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 0;
        width: unset;
    }
}