/* .search-box{
    position: relative;
} */

.search-box{
    position: relative;
    top: 50%;
    left: 100%;
    transform: translateX(-100%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    /* background: black; */
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
}

.search-input{
    position: absolute;
    top: -4px;
    left: 2.9px;
    width: 100%;
    height: 50px;
    line-height: 30px;
    outline: 0;
    border: 0;
    /* display: none; */
    font-size: 1em;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #EEEDED;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-box:hover,
.search-box:valid,
.search-box.focused{
    width: 300px;
    cursor: pointer;
}

.search-box:hover .search-input,
.search-box:valid .search-input,
.search-input:focus {
    display: block;
}

.search-box:hover .fa{
    background: #07051a;
    color: white;
}

.fa{
    background: #696969;
    color: #EEEDED;
}


.search-clear {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

.search-box:valid .search-clear {
  display: block;
}