@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300&display=swap');





.list-wrap {
    position: relative;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    align-self: center;
    justify-content: center;
    font-family: 'kanit', sans-serif;
    z-index: 5;
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-image: url('../../page-assets/templeOfSaturn.jpg');
    background-size: cover;
    background-position: center;
    transform: translateZ(0);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 0.7 opacity */
    backdrop-filter: blur(5px); /* Adjust the blur effect as needed */
    z-index: 1; /* Ensure the overlay is on top of the parallax background */
}


.category-bg{
    position: relative;
}

.list-content-wrap {/* styles/EditCategoryStyles.css or in your Tailwind CSS classes */
    
    width: 100%;
    margin: 100px auto;
    margin-top: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.list-content-wrap::-webkit-scrollbar {
    width: 0em;
}

.list-content-wrap::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.form-container {
    margin: 0 auto 30px;
}

.il-table {
    background-color: rgba(255, 255, 255, .9);
}

.il-table tr th {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

tr {
    font-size: 18px;
    font-weight: 400;
    border: 2.5px solid black;
}

.edit-list-button-wrap {
    display: flex;
    justify-content: center;
}

.ed-button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .2s ease-in-out;
}

.ed-button:hover {
    color: #fff;
    background-color: #000;
    transition: .2s ease-in-out;
}

/* .pagination {
    display: flex;
    justify-content: center;
} */

.bot-button {
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    margin: 0 7px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: #fff;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .2s ease-in-out;
}

.bot-button:hover {
    color: #fff;
    background-color: #0c0c0c;
    border-color: #0c0c0c;
    transition: .2s ease-in-out;
}

